{{> header header}}

<ul class='grid_row clear-list' >
	{{#each modules}}
		<li class='grid_row_item grid_box fn-select-module' style='background-color:{{../color}}' module-id={{id}} location-index={{../location}}>
			<p class='grid_title_center'>{{title}}</p>
		</li>
	{{/each}}
</ul>

<script></script>