{{!-- this file contains the html for the module overview page
	functions:
		- go live
		- add modules by pressing an empty module
		- get active modules from localstorage
		- get all possible modules from a json file
		- modules are diveded in 4 categories, source, rythm, modulate and filter
		- still play music in this screen

	go to page:
	- module detail
	- room overview

	current state:
	- html grid is included, 
	- no css, scss files are created
	- no behaviour

 --}}

 <header class='header'>
 	<h2 class='center'>Room: <span>{{roomNumber}}</span></h2>
	<div class="right ic_live ic_inactive">
		<span class='ic_live_image'></span>
		<span class='ic_title ic_live_title'>LIVE</span>
	</div>
 </header>
<ul class='grid grid_modules'>
	{{#each rows}}
		<li class='grid_row grid_modules_row'>
			<ul>
				{{#each items}}
				<li class='grid_modules_item'></li>
				{{/each}}
			</ul>
		</li>
	{{/each}}
</ul>
{{!-- 
<p>available</p>
 <ul class='list list_modules'>
 	{{#each categories}}
		<li class='list_modules_row'>
			{{category}}
			<ul>
				{{#each modules}}
					<li class='list_module_item'>{{title}}</li>
				{{/each}}
			</ul>
		</li>
 	{{/each}}
 		
 </ul> --}}