<h1>tracker</h1>
<video id="video" width="200" height="200" class='video-tracker' preload autoplay loop muted></video>

<div class="tracking-meter-container">
	<div class='tracking-meter fn-tracking-meter'>
	
</div>
</div>

<p class="fn-info">inf</p>