<div class='container container-fixed  container-yellow fn-alert text-center container-padding-lg text-black above pagetransition pagetransition-slide fn-transition-page' origin='left' active='true' current-page='alert'>
	<div class="container-center">
		<h2 class='text-black'>{{head}}</h2>
		<p>{{text}}</p>
		

	</div>
	{{#ifCond action '==' 'start'}}
		<div class="container-bottom container-padding-lg"><div class='btn fn-start-sequence btn-b-black btn-lg'>start</div></div>
		{{/ifCond}}
	{{#ifCond action '==' 'calibrate'}}
		<div class="container-bottom container-padding-lg"><div class='btn fn-start-calibrate btn-b-black btn-lg'>start</div></div>
		{{/ifCond}}

</div>
