// container container-padding-lg text-center container-center container-black

.container {
	&-padding-lg {
		padding:$padding-page-lg $padding-page-md $padding-page-md !important;
	}
	&-padding-sm {
		padding:$padding-page-sm;
	}

	&-fixed {
		@extend %fixed-full;
	}
	&-center {
		@extend %position-center;
		&-content {
			@extend %fixed-full;
			display:flex;
			justify-content: center;
			align-items: center;
		}
	}
	&-scroll {
		overflow-y:scroll;
	}
	&-bottom {
		@extend %fixed-bottom;
		
	}
	&
	&-padding-top {
		padding:$padding-page-sm 0;
		
	}
	&-yellow {
		background-color:$color-yellow;
	}
	&-turq {
		background-color:$color-turq;
	}
	
}