// variables
$font-family-display: 'Futura', sans-serif;
$font-family-text: 'Open Sans', sans-serif;
$icon-width: 1.3rem;
$font-size-base:18px;
$font-size-small:15px;

$font-size-h1:64px;
$font-size-h2:48px;
$font-size-h3:36px;

$color-white:white;
$color-purple:#56009C;
$color-grey1: #e5e5e5;
$color-grey2:#cccccc;
$color-turq: #0FBBA5;
$color-blue: #3038F2;
$color-yellow: #FFFF00;
$color-black: #101010;

$gutter: .25rem;
$padding-page: 21px;
$padding-page-lg: 38px;

$button-padding:14px;
$button-border-radius:3px;

