.animate-shape {
	position:fixed;
	z-index:-1;
	transition:30s linear;
	
	animation: .8s shake infinite linear, 2s shape-in infinite linear;

	// animation:3s shape-in linear infinite, rotating 2s linear infinite;
	// animation:3s shape-in infinite;
}
// @keyframes rotating {
// 	0%{transform:rotate(0deg)}
// 	100%{transform:rotate(360deg)}
// }

@keyframes shape-in {
	0%{transform:scale(.6)}
	70%{transform:scale(.7)}
	80%{transform:scale(1)}
	
	100%{transform:scale(.5)}
}


@keyframes shake {
	0% { transform: translate(2px, 1px)};
	10% { transform: translate(-1px, -2px)};
	20% { transform: translate(-3px, 0px)};
	30% { transform: translate(0px, 2px) };
	40% { transform: translate(1px, -1px) };
	50% { transform: translate(-1px, 2px) };
	60% { transform: translate(-3px, 1px) };
	70% { transform: translate(2px, 1px) };
	80% { transform: translate(-1px, -1px)};
	90% { transform: translate(2px, 2px)};
	100% {transform: translate(1px, -2px)};
}

.animate-wrapper {

	&.login {
		.h1-logo {
			// transform:scale(1.5)translateY(50px);
			transition:.5s ease-in-out;
			font-size:$font-size-h1-lg;
		}
		.animate-stagger {
			opacity:0;

			animation-fill-mode:forwards;
		}
		.animate-collapse {
			max-height:0;
			transition:.2s ease-in;
		}
		
	}
}

body[splash='finished'] {
	.place-color, .place-stroke {
		fill:rgba(225,225,225,.3) !important;
	}

	.animate-wrapper {
		.animate-collapse {
			max-height:999px;
		}
		.h1-logo {
			transform:none;
			font-size:$font-size-h1;
		}
		@for $i from 1 through 4 {
		  .animate-stagger-#{$i} {
		    animation-name:opacity-stagger;
		    animation-iteration-count: 1;
		    animation-delay: 0.1s + $i/5;
		    animation-duration: 0.3s;
		    animation-timing-function: ease-in-out;
		    
		  }
		}
	}
}


@keyframes opacity-stagger {
    0%   {opacity:0;transform:translateY(80px)}
    80%   {opacity:.8;transform:translateY(-20px)}
    100% {opacity:1;transform:translateY(0)}
}

