// base
html, body {
	margin: 0 0;
	padding:0 0;
	font-family:$font-family-text;
	font-size:$font-size-base;
	-webkit-touch-callout: none;               
	-webkit-text-size-adjust: none;            
	-webkit-user-select: none;   
	background-color: $color-black;
	color:$color-turq; 

}
* {
	box-sizing:border-box;
}