

// buttons
.btn {
	font-family:$font-family-display;
	text-transform:uppercase;
	font-weight:bold;
	border:none;
	background:none;
	font-size:$font-size-base;
	&-submit {
		background-image:url(./images/ic_enter.svg);
	}
	&-turq {
		background-color:$color-turq;
	}
	&-ic {
		background-size:$icon-width $icon-width;
		background-repeat:no-repeat;
		background-position:center center;	
	}
	&-lg {
		padding:$button-padding;
		display:block;
		width:100%;
		border:none;
	}
	&-round {
		border:10px solid $color-blue;
		border-radius:100%;
	}
	&-rect {
		width:20vw;
		height:20vw;
	}
	&-b-black {
		@include button-border($color-black);
	}
	&-b-yellow {
		@include button-border($color-yellow);
		color:$color-yellow;
	}
	&-yellow {
		background-color:$color-yellow;
	}
	&-blue {
		background-color:$color-blue;
	}
	&-rounded {
		border-radius:$button-border-radius;
	}
}

// $size: 80px;

// .buttons {
// 	&_area {
// 		position:fixed;
// 		bottom:0;
// 		left:0;
// 		background:black;
// 		border:none;
// 		transition:.2s ease-in-out;
// 		opacity:0;
// 		width:35vw;
// 		height:35vw;
// 		border-top-left-radius:0;
// 		border-top-right-radius:100%;
// 		border-bottom-left-radius:0;
// 		border-bottom-right-radius:0;

// 		&.active {
// 			opacity:1;
// 		}
// 	}	
// 	&_knob {
// 		width:25vw;
// 		display:block;
// 		height:25vw;
// 		border-radius:100%;
// 		font-size:0;
// 		background:url('/images/ic_fingerprint.png');
// 		background-size:65%;
// 		background-repeat:no-repeat;
// 		background-position:center center;
// 		border:none;
// 		margin:1rem auto;
// 		background-color:$color-grey1;

// 	}
// }
// .btn {
// 	-webkit-appearance: none;
// 	&-modulate {
// 		list-style:none;
// 		border:5px solid $color-blue;
// 		color:$color-blue;
// 		border-radius:100%;
// 		display:flex;
// 		font-family:'Futura';
// 		font-weight:700;
// 		justify-content: center;
// 		align-items: center;
// 		     &:after {
// 		    	content: ' ';
// 		    	display:block;
// 		    	padding-bottom:100%;
// 		    }
// 	}
// 	&-cta {
// 		background-color:$color-accent;
// 		font-size:1.125em;
// 		color:$color-black;
// 		letter-spacing: -0.19px;
// 		font-weight:900;
// 		text-transform:uppercase;
// 		padding:.875em 2em;
// 		box-sizing:border-box;
// 		margin:1rem 0;
// 		border:none;
// 		&-black {
// 			color:$color-black;
// 			border:4px solid $color-black;
// 			background:rgba(0,0,0,0);
// 		}

// 	}
// 	&-fullwidth {
// 		width:100%;
// 	}
// 	&-round {
// 		border-radius:100%;
// 	    border:2px solid $color-blue;
// 	    transition:.05s ease-in-out;

// 		box-shadow: 0px 0px 0px 0px $color-yellow;

// 	    &.highlight {
// 	    	// border-color:green;
// 	    	background-color:$color-yellow !important;
// 	    	box-shadow: 0px 0px 53px 0px $color-yellow;
// 		    }

// 	}
	
// }

