$size: 80px;

.buttons {
	&_area {
		position:fixed;
		bottom:0;
		left:0;
		background:black;
		border:none;
		transition:.2s ease-in-out;
		opacity:0;
		width:35vw;
		height:35vw;
		border-top-left-radius:0;
		border-top-right-radius:100%;
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;

		&.active {
			opacity:1;
		}
	}	
	&_knob {
		width:25vw;
		display:block;
		height:25vw;
		border-radius:100%;
		font-size:0;
		background:url('/images/ic_fingerprint.png');
		background-size:65%;
		background-repeat:no-repeat;
		background-position:center center;
		border:none;
		margin:1rem auto;
		background-color:$color-grey1;

	}
}
.btn {
	-webkit-appearance: none;

	&-cta {
		background-color:$color-blue;
		font-size:1.125em;
		color:$color-black;
		letter-spacing: -0.19px;
		font-weight:900;
		text-transform:uppercase;
		padding:.875em 0;
		box-sizing:border-box;
		margin:1rem 0;
		border:none;

	}
	&-fullwidth {
		width:100%;
	}
}

