

.draggable {
	z-index:99;
	touch-action:none;

	&[drag-status="none"] {
		background:grey !important;
	}
	&[drag-status="dragIn"] {
		background:red !important;
	}
	&[drag-status='ghost'] {
		color:white !important;
	}
}
