.form {
	&-login {
		display:flex;
		justify-content:space-between;

		.input-text {
			width:80%;
		}
		.btn-submit {
			height:100%;
			flex-size:stretch;
			width:20%;
		}
	}
}

// .form {
// 	width:100%;
	
// 	&-margin {
// 		margin-top:$gutter*3;
// 	}
// }