.header {
	padding:1.875em 0 .7em;
	text-align:center;
	

	.header_title {
		display:inline-block;
	// font-family: Futura-Medium;
		font-size: 16px;
// color: #FFFF00;
		letter-spacing: 0;
	}
}
.header-abs-top {
	position:absolute;
	top:0;
	width:100%;
	left:0;
}