.header {
	padding:1.875em 0 .7em;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:space-between;

	.header_title {
		display:inline-block;
	// font-family: Futura-Medium;
		font-size: 16px;
// color: #FFFF00;
		letter-spacing: 0;
	}
}