// input

.input {
	&-text {
		background:$color-white;
		font-size:$font-size-base;
		
		width:100%;
		padding:$button-padding;
		&::placeholder {
			color:$color-grey2;
		}
	}
	&-range {
		border:1px solid $color-white;
		-webkit-appearance: none;
		height:0;
		background:rgba(0,0,0,0);
		border-radius:3px;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width:32px;
			height:32px;
			border-radius:100%;
			cursor:pointer;
			padding: 0 0;
		}
		&-yellow::-webkit-slider-thumb{
			background:$color-yellow;
		}
		&-purple::-webkit-slider-thumb {
			background:$color-purple;
		}
	}
}
// 	&-range {
// 		border:1px solid $color-white;
// 		-webkit-appearance:none;
// 		width:80%;
// 		margin:20px auto;
// 		height:0px;
// 		background: rgba(0,0,0,0);
// 		border-radius:4px;
	
// 		&::-webkit-slider-thumb{
// 			-webkit-appearance:none;
// 			width:32px;

// 			height:32px;
// 			border-radius: 100%;
// 			background: $color-purple;
// 			position:relative;
// 			z-index:3;
// 			cursor: pointer;
// 		}
// 	}
// }

// <input type="range" class='input input-range input-yellow' value="5" min="0" max="10">
// <input type="range" min="0" max="2200" step="220" value="100"  class='input input-range inactive fn-frequency-input absolute-bottom' disabled>



// .input {
// 	&-fullwidth {
// 		width:100%;
// 		box-sizing:border-box;

// 	}
// 	&-text {
// 		font-size:1em;
		
// 		padding:.875em;
// 	}
// 	&_container {
// 		&_radio {
// 			text-align: center;
// 			padding:0 .7rem;


// 		}
// 	}
// 	&_radio {
// 		width:100%;
// 		height:1.3em;
// 		margin: 0 0 .5rem;
// 		&:focus {
// 			outline:none;
// 		}


// 	}
// 	&-knob-container {
	
// 		display:inline-block;
// 	}
// 	&-range {
// 		border:1px solid $color-white;
// 		-webkit-appearance:none;
// 		width:80%;
// 		margin:20px auto;
// 		height:0px;
// 		background: rgba(0,0,0,0);
// 		border-radius:4px;
	
// 		&::-webkit-slider-thumb{
// 			-webkit-appearance:none;
// 			width:32px;

// 			height:32px;
// 			border-radius: 100%;
// 			background: $color-purple;
// 			position:relative;
// 			z-index:3;
// 			cursor: pointer;
// 		}
// 	}
// }



// .radio-slider {
// 	position: relative;
// 	left:$icon-width;
// 	padding-left:$gutter *2;
// 	height:25vh;
// 	display:block;
// 	width:15vh;
// 	text-align:left;
// 	display:flex;
// 	justify-content:space-between;
// 	flex-direction:column;
// 	align-items:stretch;
// 	align-content:stretch;
// 	input[type=radio]{
// 		display: none;
// 	}
// 	label{
// 		z-index: 1;
// 		text-align: center;
// 		display:block;
// 		position:relative;
// 		text-align:left;
// 		flex:2 25%;
// 		display:flex;
// 		justify-content:flex-start;
// 		align-items:center;
// 		text-transform:capitalize;
// 	}
// 	&-slider {
// 		height:100%;
// 		z-index:2;
// 		width:$icon-width;
// 		left:$icon-width *-1;
// 		position: absolute;
// 		top: 0;
// 		transition: all .3s ease-in-out;
// 		background: rgba(255,255,255,.2);
// 		border: 1px solid rgba(255,255,255,.1);
// 		border-radius:20px;
// 		overflow:hidden;
// 		&:before {
// 			content: ' ';
// 			background: rgba(255,255,255,.9);
// 			z-index:-1;
// 			width:$icon-width;
// 			height:25%;
// 			border-radius:20px;
// 			left:0;
// 			transition: all .4s ease;
// 			position:absolute;
// 		}
// 	}
// }

// @for $i from 0 through 3 {
//   #input-#{$i}:checked ~ .radio-slider-slider:before {
//   	top:calc(25%*#{$i})
//   }
// }

