// .grid {
// 	padding: 0 0;
// 	list-style:none;
// 	.grid_row {
// 		list-style-type:none;
// 		padding:0 0;
// 		position:relative;
// 		display:flex;
// 		justify-content: stretch;
// 		padding: .25rem .5rem;
// 		.grid_modules_item {
// 			background:$color-grey1;
// 			border-radius:5px;
// 			border:$color-grey2 2px dashed;
// 			flex:25%;
// 			text-align: center;
// 			display:inline-block;
// 			margin-right:.5rem;
// 			max-width:5em;
// 			touch-action:none;
// 			&:last-of-type {
// 				margin-right:0;
// 			}
// 			// margin:.25rem .5rem;
// 			&:before, &:after {
// 				content: "";
// 				display:block;
// 				padding-top:35%;
// 			}
// 		}
// 	}
// }
// .list {

// }

.grid {
	padding: 0 0;
	list-style:none;
	.grid_row {
		margin: 0 0;
		list-style:none;
		padding: 0 .5rem ;
		&:after {
			content: "";
			display:table;
			clear:both;

		}
		.grid_modules_item {
			width:calc(25% - .4rem);
			float:left;
			font-size:0;
			position:relative;
			touch-action:none;
			background:$color-grey1;
			margin-left:.5rem;
			overflow:hidden;
			margin-bottom:.5rem;

			&:first-of-type, &:nth-of-type(5) {
				margin-left:0;
			}
			

			&:before {
				content:'';
			    padding:50% 0; /* vertical value as  100% equals width */
			    display:inline-block;
			}
			.grid_modules_title {
				font-size:$font-size;
				position:absolute;
				top:0;
				width:100%;
				left:0;
				text-align:center;
				
			}
			

		}
	}
}
