.margin {
	&-t {
		&-sm {
			margin-top:7px;
		}
		&-md {
			margin-top:15px;
		}
	}
}

.margin {
	&-top {
		&-lg {
			margin-top:$padding-page-lg;
		}
		&-md {
			margin-top:$padding-page-md;
		}
		&-sm {
			margin-top:$padding-page-sm;
		}
	}
	&-bottom {
		&-lg {
			margin-bottom:$padding-page-lg;
		}
		&-md {
			margin-bottom:$padding-page-md;
		}
		&-sm {
			margin-bottom:$padding-page-sm;
		}
	}
}