.nav {
	&-bottom {
		position:fixed;
		bottom:0;
		text-align:center;
		width:100%;
		left:0;
		padding:$padding-page-md;
		ul {
			display:flex;
			justify-content: space-between;
			// flex-direction:column;
		}
		
		li {
			display:inline-block;
			flex:33%;
			display:flex;
			min-height:60px;
			justify-content: center;
			flex-direction:row;
			align-items:center;
			.ic {
				height:$icon-width;
			}
			&:nth-of-type(3) {
				padding-left:$gutter;
				.ic {
					margin-left:$icon-width;
					margin-right:0;
				}
			}
			&:nth-of-type(1) {
				padding-right:$gutter;
				.ic {
					margin-right:$icon-width;
					margin-left:0;
				}
			}
			
		}
		li:first-of-type {
			
		}
	}
}


