.text-center {
	text-align:center;
	display:block;
}

.hide {
	display:none;
}
.fixed-bottom {
	position:relative;
	box-sizing:border-box;
	top:0;
	left:0;
	width:100%;
	padding-top:2em;
	display:block;
}


// .right {
// 	float:right;
// }
// .left {
// 	float:left;
// }
// .center {
// 	// margin: 0 auto;
// }
// .text-center {
// 	text-align:center;
// }


// .inactive {
// 	opacity:.3;
// }
// .closed {
// 	display:none;
// }
// .absolute-bottom {
// 	position:absolute;
// 	bottom:$padding-page-lg;
// }
// .fixed-bottom {
// 	position:fixed;
// 	bottom:0;
// 	box-sizing:border-box;
// 	left:0;
// 	width:100%;
// 	padding:$padding-page-lg;
// }
// .container {
// 	&-center {
// 		display:flex;
// 		justify-content: center;
// 		align-items:center;
// 		flex-direction: column;

// 	}
// 	&-animate {
// 		& > * {
// 			transition:.2s ease-in-out;
// 		}
// 	}
// 	&-maxwidth > *{
// 		max-width:25em;
// 	}
// 	&-padding {
// 		padding:0 $padding-page-lg;
// 	}
// 	&-default {
// 		background-color: $color-black;
// 		color:$color-accent;

// 		a {
// 			color:$color-accent;
// 		}

// 	}
// 	&-fullsize {
// 		// border:1px solid green;
// 		position: absolute;
// 		top:0;
// 		left:0;
// 		height:100%;
// 		width:100%;
// 		box-sizing:border-box;
// 		overflow:hidden;
		  
// 	}
// 	&-audio-vis {
// 		background-color:$color-accent;
// 		width:100%;
// 		display:block;
// 		height:40vh;
// 	}
// 	&-info {
// 		padding: $padding-page $padding-page-lg;
// 	}
// 	&-bottom {
// 		padding:$padding-page;
// 		position:absolute;
// 		bottom:0;
// 		width:100%;
// 		left:0;
// 		box-sizing:border-box;
// 	}
// }

// .press-overlay {
// 	position:fixed;
// 	top:-100%;
// 	left:0;


// }
// .overlay {
// 	position:fixed;
// 	top:-100%;
// 	transition:.2s ease-in;
// 	left:0;
// 	background:$color-yellow;
// 	text-align:center;
// 	font-family:'Futura';
// 	display:flex;
// 	justify-content:center;
// 	align-items:center;
// 	flex-direction:column;
// 	width:100%;
// 	height:100%;
// }
// body[press-play='open'] {
// 	.overlay {
// 		top:0;
// 	}
// }

// body[touch-active='sequence'] {
// 	.in {
// 		transform:translateX(-200%);
// 	}
// 	.out {
// 		transform:translateX(0%);
// 		z-index: 99;
// 	}
// 	.btn-round:not(.touching) {
// 		opacity:0;
// 	}
// 	.header {
// 		opacity:0;
// 	}
// 	input[type="range"] {
// 		opacity:1;
// 	}
// 	.touching {
// 		position:relative;
// 		.inner-circle {
// 			position:absolute;
// 			width:200%;
// 			height:200%;
// 			background:#3038F2;
// 			border-radius:100%;
// 			top:-50%;
// 			left:-50%;
// 			// transform:scale(5);
// 			transition:transform .05s ease-in-out;
// 			background:radial-gradient(rgba(0,0,0,0) 50%,  #3038F2 50% );
// 		}
// 	}
// }
// body[touch-active='modulate'] {
// 	.btn-modulate.active {
// 		z-index:3;
// 		color:black;
// 		border-color:black; 
// 	}

// 	.press-overlay {
// 		background:$color-accent;
		
// 		top:0;
// 		left:0;
// 		z-index:1;
// 		width:100%;
// 		opacity:1;
// 		height:100%;
		
// 		h1 {
// 			z-index:999;
// 			color:$color-blue;
// 			margin:10vh auto;
// 			text-align:center;

// 		}

// 	}
// }