$icon-width: 1.3rem;

$font-size: 18px;
$font-size-small: 10px;



$color-white:white;
$color-purple:#56009C;
$color-grey:grey;
$color-grey1: #e5e5e5;
$color-grey2:#cccccc;
$color-accent: #0FBBA5;
$color-blue: #3038F2;
$color-yellow: #FFFF00;
$color-black: #101010;

$gutter: .25rem;
$padding-page: .7em;
$padding-page-lg: 1.4em;