<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container container-padding-lg container-fixed ">
		<div class="container-center animate-wrapper login fn-animate-wrapper" >
		{{{body}}}
		</div>
	</div>
	<div class="fn-confetti animate-wrapper-confetti"></div>
<script type='text/javascript' src='/lib.js'></script>
<script type='text/javascript' src='/client.js'></script>

</body>
</html>


<!-- 


			{{#if loggedIn}}
				<div class="intro-role">
					<p data-intro='modulator' class='text hide'>
						Als modulator vervorm je het geluid van je sequencer. Roep je sequencer om samen verder te gaan. 
					</p>
					<p data-intro='sequencer' class='text hide'>
						Je bent de sequencer
					</p>
				</div>
			{{else}}
				<h1 class='head h1 h1-logo text-turq'>
					{{title}}
					</h1>
					<div class="animate-collapse">
						<p class='text text-intro text-center animate-stagger animate-stagger-1'>
							Welkom bij de demo van Pan. Sluit je aan bij de groep door je hier onder voor te stellen en ontdek de wereld van de modulaire muziek.
						</p>

						<form action="/login" class='form' method="post">
							<input type="text" class='input input-text input-lg text-center fn-username animate-stagger animate-stagger-2' placeholder='Gebruikersnaam'>
							<input type="submit" value='Begin' class='btn btn-submit btn-turq btn-lg margin-t-md animate-stagger animate-stagger-3'>
						</form>

						<a class="link link-turq link-underline text-center text-small margin-t-sm animate-stagger animate-stagger-4">Ik wil alleen maar luisteren</a>
					</div>
			{{/if}}


 -->