<header class='header'>
	<form action="/create/add" class='fn-post-radio' method='post'>
		<input type="radio" id='add'>
		<label for="add" ><div class='ic ic_add'></div></label>
	</form>
	
	
</header>

<p>Stil hé, zo alleen? Maak of join een groep door de code in te voeren, om zo wat meer gezelligheid op tafel te krijgen.</p>

{{#if error}}
<p>{{error}}</p>
{{/if}}
<p>groepsnummer:</p>
<form action="/create" method='post'>
	<input type="number" name='groupnumber' >
	<input type="submit">
</form>