.ic {
	&_live {
		border:1px solid $color-accent;
		width:$icon-width;
		font-size:$font-small;
		&_image {
			display: block;
			background:$color-grey;
			width:8px;
			height:8px;
			border-radius:100%;
			margin:0 auto 3px;
		}
		&_title {

		}
	}
}

// <div class="right ic_live ic_inactive">
// 		<span class='ic_live_image'></span>
// 		<span class='ic_title ic_live_title'>LIVE</span>
// 	</div>