.ic {
	&_live {
		width:$icon-width;
		font-size:$font-small;
		&_image {
			display: block;
			background:$color-grey;
			width:8px;
			height:8px;
			border-radius:100%;
			margin:0 auto 3px;
		}
		&_title {

		}
	}
}
