.extraCircle  {
	
	@extend %absolute-100;
	transition:.1s ease-in-out;
	border-radius:100%;
	transform:scale(0);
}

// buttons
.btn {
	font-family:$font-family-display;
	text-transform:uppercase;
	font-weight:bold;
	border:none;
	background:none;
	text-decoration:none;
	font-size:$font-size-base;

	&-label-abs {
		@extend %text-center-absolute;
	}
	&-question {
		display:inline-block;
		height:100%;
	}
	&-submit {	
		background-image:url(./images/ic_enter.svg);
	}
	&-turq {
		background-color:$color-turq;
	}
	&-selector {
		/* OSC1: */
		color:rgba(225,225,225,.5);
		
		h5 {
			margin:$gutter 0;
		}

		&.active {
			color:$color-yellow;
		}
	}
	&-xlg {
		width:7em;
		height:7em;
		margin:0 auto;
		box-shadow: 0px 0px 0px 10px  rgba( $color-blue, .7 ), 0px 0px 0px 20px  rgba( $color-blue, .5 )



	}
	&-adsr {
		border:2px solid lighten($color-turq, 20);
		background-color:$color-turq;
		position:relative;
		height:18vh;
		width:18vh;
		border-radius:100%;
		display:inline-block;
	
		
		.btn-label {
			color:$color-black;
			position:absolute;
			top:calc(50% - 14px);
			width:100%;
			text-align:center;
			font-size:15px;

		}
		
		.rotate-extra-circle {
			position:relative;
			display:block;
			height:100%;
			z-index:-1;
			&:before {
				content: ' ';
				@extend .extraCircle;
				background:darken($color-turq, 25);
				transform:scale(1);
			}
			&:after {
				content: ' ';
				@extend .extraCircle;
				background:darken($color-turq, 15);
				transform:scale(.8);
			}
		}
	}
	&-sequencer {
		box-shadow: 0px 0px 0px 0px $color-yellow;
		transition:.5s ease-in-out;
		.btn-label-abs {
			color:$color-blue;
		}
		& > * {
			pointer-events:none;
		}
		&:not(.active) {
			opacity:.5;

		}
		&:not([step-freq='true']) {
			opacity:0;
		}
		&.highlight {
			box-shadow: 0px 0px 9px 2px $color-yellow;
		}
		.rotate-extra-circle {
			@extend .extraCircle;
			border:10px solid $color-pink;

		}
	}

	&-filter {
		// box-shadow: 0px 0px 0px 4px $color-blue inset;
		background-color:$color-blue;
		color:$color-white;
		font-weight:bold;
		text-transform:uppercase;
	    transition:.2s ease-in-out;
		position:relative;
		.rotate-extra-circle {
			border:1px solid red;
			
			@extend .extraCircle;
			border:10px solid $color-pink;

		}
	}
	&-rotate-trans {
		transform-style:preserve-3d;
		background-color:inherit;
		transition:.5s ease-in !important;
	}
	&-rectangle {
		
	}
	&-grid-item {
		position:absolute;
		width:100%;
		height:100%;
		background:#3038F2;
		border-radius:100%;
		top:0%;
		left:0%;
		transition:transform .05s ease-in-out;
		// background:radial-gradient(rgba(0,0,0,0) 50%,  #3038F2 50% );
	}
	&-ic {
		background-size:$icon-width $icon-width;
		background-repeat:no-repeat;
		background-position:center center;	
	}
	&-lg {
		padding:$button-padding;
		display:block;
		width:100%;
	}
	&-md {
		padding:$button-padding $button-padding-sides;
		transition:.2s ease-in-out;
		opacity:1;
		&.active {
			color:white;
			background:$color-red;
		}
		// display:block;
		// width:100%;
		// border:none;
	}
	&-half {
		width:50%;
		float:left;
	}
	&-round {
		border-radius:100%;

	}
	&-rect {
		width:20vw;
		height:20vw;
	}
	&-b-black {
		@include button-border($color-black);
	}
	&-black {
		background-color:$color-black;
	}
	&-b-yellow {
		@include button-border($color-yellow);
		color:$color-yellow;
	}
	&-margin {
		margin-bottom:$gutter*3;
	}
	&-b-white {
		@include button-border($color-white);
		color:$color-white;
	}
	&-yellow {
		background-color:$color-yellow;
	}
	&-blue {
		background-color:$color-blue;
	}
	&-rounded {
		border-radius:$button-border-radius;
	}
	&.checked {
		position:relative;
		&:before {
			content : '';
			position:absolute;
			width:$icon-width/2;
			height:$icon-width;
			background-image:url(./images/ic_check.svg);
			right:$padding-page-sm;
			background-position:center center;
			background-repeat:no-repeat;
		}
	}
	
}
