.color {
	&-1 {
		background-color:$color-turq;
	}
	&-2 {
		background-color:$color-blue;
	}
	&-3 {
		background-color:$color-yellow;
	}
	&-4 {
		background-color:$color-red;
	}
	&-5 {
		background-color:$color-pink;
	}
}