

.ic {
	width:$icon-width;
	height:100%;
	min-height:$icon-width;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	&-wavetype {
		width:100%;
		background-image:url(./images/ic_back.svg);
	}
	&-calibrate {
		margin:0 auto;
		width:100%;
		height:100%;
		background-image:url(./images/ic_calibrate.svg);
		background-size:60%;
		// box-shadow:0px 0px 10px 0px $color-white;
		&-wrapper {
			
		}
	}
	&-value {
		// background:white;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border-radius:100%;
			transition:.05s ease-in;
			&:before {
				content: ' ';
				width:12px;
				height:12px;
				left:calc(50% - 6px);
				top:-5px;
				border-radius:100%;
				position:absolute;
				// background:$color-yellow;
				border:2px solid lighten($color-blue, 10);
				// background:$color-blue;
				box-sizing:border-box;
			}
	}
	&-logo-stripes {
		height: $icon-width/2;
		width: $icon-width;
		display:inline-block;
		margin-left:.12em;
		// position:absolute;
		// bottom:-8px;
		// left:.05em;

		border-top:3px solid $color-blue;
		border-bottom:3px solid $color-blue;
	}
	&-notification {
		border-radius:100%;
		display:inline-block;
		position:absolute;
		left:0;
		height:100%;
		width:8px;
		top:0;
		&:before {
			background:$color-blue;
			height:8px;
			content: ' ';
			position:absolute;
			width:100%;
			top:calc(50% - 4px);
			border-radius:100%;
		}
		& + .list-content {
			margin-left:24px;
		}
	}
	&_back {
		background-image:url(./images/ic_back.svg);
	}
	&_forward {
		background-image:url(./images/ic_back.svg);
		transform:rotate(180deg);
		
	}
	&_text {
		display:inline-block;
		vertical-align:middle
	}
	&-next {
		position:absolute;
		right:0;
		height:$icon-width;
		top: calc(50% - #{($icon-width/2)});

		background-image:url(./images/ic_back.svg);
	}
	&-fixed-bottom {
		// margin-bottom:2em;
		// margin-left:2em !important;
		// &-wrapper {
		// 	 background:$color-turq;
		// 	 position:fixed;
		// 	 bottom:-2.5em;
		// 	 left:-2.5em;
			 
		// 	 text-align:center;
		// 	 border-radius:100%;
		// 	 width:8em;
		// 	 height:8em;
		// }
	}
}

