

.ic {
	width:$icon-width;
	height:100%;
	min-height:$icon-width;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	&-value {
		// background:white;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border-radius:100%;
			
			&:before {
				content: ' ';
				width:20px;
				height:20px;
				left:calc(50% - 10px);
				top:-5px;
				border-radius:100%;
				position:absolute;
				background:white;
			}
	}
	&-logo-stripes {
		height: $icon-width/2;
		width: $icon-width;
		display:inline-block;
		margin-left:.12em;
		// position:absolute;
		// bottom:-8px;
		// left:.05em;

		border-top:3px solid $color-blue;
		border-bottom:3px solid $color-blue;
	}
	&-notification {
		border-radius:100%;
		display:inline-block;
		position:absolute;
		left:0;
		height:100%;
		width:8px;
		top:0;
		&:before {
			background:$color-blue;
			height:8px;
			content: ' ';
			position:absolute;
			width:100%;
			top:calc(50% - 4px);
			border-radius:100%;
		}
		& + .list-content {
			margin-left:24px;
		}
	}
	&_back {
		background-image:url(./images/ic_back.svg);
	}
	&_forward {
		background-image:url(./images/ic_back.svg);
		transform:rotate(180deg);
		
	}
	&_text {
		display:inline-block;
		vertical-align:middle
	}
	&-next {
		position:absolute;
		right:0;
		height:$icon-width;
		top: calc(50% - #{($icon-width/2)});

		background-image:url(./images/ic_back.svg);
	}
}

// .share-container {
// 	text-align:right;
// }
// .header .ic {
// 	height:$icon-width * 1.2;
		
// }
// .ic {
// 	width:$icon-width;
// 	height:100%;
// 	min-height:$icon-width;
// 	background-size:contain;
// 	background-repeat:no-repeat;
// 	background-position:center center;
// 	&_share {
// 		height:$icon-width * 1.2;
// 		width:$icon-width * 1.2;
// 		margin:.5rem;
// 		display:inline-block;
		
// 	}
// 	&_add {
// 		background-image:url(./images/ic_add.svg);
		
// 	}
// 	&_overview {
// 		background-image:url(./images/ic_overview.svg);
// 	}
// 	&_wave {
		
// 		background-size:contain;
// 		background-repeat:no-repeat;
// 		display:inline-block;
// 		width:100%;
// 		height:auto;
// 		background-position:center center;

// 	}
// 	&_back {
// 		background-image:url(./images/ic_back.svg);
// 	}
// 	&_down {
// 		background-image:url(./images/ic_down.svg);
// 		display:inline-block;
// 		transform:scale(.8);
// 		vertical-align:text-top;

// 	}
// 	&_up {
// 		background-image:url(./images/ic_up_white.svg);
// 		display:inline-block;
// 		transform:scale(.8);
// 		vertical-align:text-bottom;
// 		margin-left:$gutter;

// 	}
// 	&_live {
// 		&_container {
// 			width:$icon-width;
// 			font-size:$font-size-small;
// 			&.ic_active {
// 				border:1px solid red;
// 			}
// 		}
// 		&_image {
// 			display: block;
// 			background:white;
// 			width:8px;
// 			height:8px;
// 			border-radius:100%;
// 			margin:0 auto 3px;
// 		}
// 		&_title {

// 		}
// 	}
// }
