@mixin input-setup($border-color, $background, $border-radius, $width, $height, $padding, $color) {
	border-color:$border-color;
	background:$background;
	border-radius:$border-radius;
	width:$width;
	height:$height;
	padding:$padding;
	color:$color;
}
input[type='range']::-webkit-slider-thumb {
	
}
%before-absolute {
	content: ' ';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	
}
.input {
	border-radius:0;
	border-color:$color-white;


	&-text {
		// background:$color-white;
		font-size:$font-size-base;
		// width:100%;
		// padding:$button-padding;
		@include input-setup(inherit, $color-white, 0, 100%, inherit, $button-padding, $color-black);

		&::placeholder {
			color:$color-grey2;
		}
	}
	&-radio {
		opacity:0;
		// border:1px solid red;
		// position:absolute;
		// width:100%;
		// height:100%;
		// top:100%;
		// webkit-appearance: none;
		// left:0;
		// opacity:0;
		// &-label {
		// 	border:1px solid blue;
		// 	position:absolute;
		// 	top:0;
		// 	left:0;
		// 	width:100%;
		// 	height:100%;
		// }
		// &-wrapper {
		// 	border:1px solid green;
		// 	position:relative;
		// 	height:$icon-width;
		// }
	}
	&-switch {
		position:relative;
		width:$icon-width;
		height:$icon-width*2;
		-webkit-appearance:none;
		font-size:$font-size-base;
		vertical-align:middle;
		
		&-label {
			vertical-align:middle;
			height:100%;
			line-height:3em;
			padding-right:1em;
		}
		&:before, &:after {
			@extend %before-absolute;
			height:50%;
			border-radius:100%;
			transition:.2s ease-in;
		}
		&:before {
			top:25%;
			background:darken($color-white, 50);
			border:1px solid darken($color-white, 30);
		}
		&:after {
			top:50%;
			background-color:darken($color-yellow,8);

		}
		&:checked {
			&:before {

			}
			&:after {
				top:0%;
				background-color:$color-yellow;
			}
		}
	}

	&-range {
		-webkit-appearance:none;
		width:100%;
		height:2px;
		background:rgba(225,225,225,.5);
		&-wrapper {
			height:2.5em;
		}
		&::-webkit-slider-thumb {
			background-color:$color-black;
			border:2px solid $color-turq;
			width:$icon-width;
			height:$icon-width;
			-webkit-appearance:none;
			border-radius:100%;

		}

	}
	&-range-vert {
		&-container {
			display:flex;
			justify-content:space-around;
			height:100%;
			position:absolute;
			width:100%;
		

		}
		&-wrapper {
			display:inline-block;
			width:25%;
			height:100%;
			position:relative;

			label {
				position:absolute;
				top:104%;
				
				width:100%;
				text-align:center;
				// font-weight:bold;
				transition:.06s ease-in;
				font-family:'Futura', sans-serif;
				color:$color-white;
				border-bottom:2px solid $color-black;
				&.active {
					border-color:$color-blue;
					color:$color-blue;
				}

			}
			input {
				width:50vh;
				position:absolute;
				height:1px;
				display:block;
				top:-2px;
				left:50%;
				transform:rotate(-90deg);
				transform-origin:25vh 25vh;
				-webkit-appearance:none;
				
				background:transparent;
				&:before {
					width:100%;
					background:rgba(225,225,225,.2);
					border-radius:50px;
					content : ' ';
					height:10px;
					top:calc(50% - 5px);
					left:0;
					z-index:-1;
					position:absolute;
				}
				&-wrapper {
					height:2.5em;
				}
				&::-webkit-slider-thumb {
					background-color:darken($color-yellow, 10);
					border:2px solid $color-yellow;
					width:$icon-width*2;
					height:$icon-width*2;
					// margin-bottom:8px;
					-webkit-appearance:none;
					border-radius:100%;
					position:relative;
					&:before {
						content: 'sustain';
						width:100%;
						height:100%;
						border:2px solid red;
						position:absolute;
						top:0;
						left:0;
					}
				}	
				
			}

		}

		
	}

	&-range-color {
		-webkit-appearance:none;
		width:100%;
		height:$button-height-sm;
		// background:transparent;
		background:url('/images/bg-slider-grey.png');
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
		margin: auto;
		position:absolute;
		top:0;
		
		& + .input-bg {
			width:100%;
			height:$button-height-sm;
			position:absolute;
			top:0;
			left:0;
			display:block;
			background:url('/images/bg-slider.png');
			background-position:left;
			background-size:100% 100%;
			background-repeat:no-repeat;
			clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
		}

		&::-webkit-slider-thumb {
			-webkit-appearance:none;
			width:6px;
			height:30px;
			border-radius: 100%;
			background: $color-turq;
			position:relative;
			border: darken($color-turq, 50%);
			z-index:3;
			border-radius: 3px;

		}
		&-wrapper {
			position:relative;
			height:2.5em;
		}

	}
}
