@mixin input-setup($border-color, $background, $border-radius, $width, $height, $padding, $color) {
	border-color:$border-color;
	background:$background;
	border-radius:$border-radius;
	width:$width;
	height:$height;
	padding:$padding;
	color:$color;
}

%before-absolute {
	content: ' ';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	
}
.input {
	border-radius:0;
	border-color:$color-white;


	&-text {
		// background:$color-white;
		font-size:$font-size-base;
		// width:100%;
		// padding:$button-padding;
		@include input-setup(inherit, $color-white, 0, 100%, inherit, $button-padding, $color-black);

		&::placeholder {
			color:$color-grey2;
		}
	}
	&-radio {
		opacity:0;
		// border:1px solid red;
		// position:absolute;
		// width:100%;
		// height:100%;
		// top:100%;
		// webkit-appearance: none;
		// left:0;
		// opacity:0;
		// &-label {
		// 	border:1px solid blue;
		// 	position:absolute;
		// 	top:0;
		// 	left:0;
		// 	width:100%;
		// 	height:100%;
		// }
		// &-wrapper {
		// 	border:1px solid green;
		// 	position:relative;
		// 	height:$icon-width;
		// }
	}
	&-switch {
		position:relative;
		width:$icon-width;
		height:$icon-width*2;
		-webkit-appearance:none;
		font-size:$font-size-base;
		&:before, &:after {
			@extend %before-absolute;
			height:50%;
			border-radius:100%;
			transition:.2s ease-in;
		}
		&:before {
			top:25%;
			background:darken($color-white, 50);
			border:1px solid darken($color-white, 30);
		}
		&:after {
			top:50%;
			background-color:darken($color-turq,8);

		}
		&:checked {
			&:before {

			}
			&:after {
				top:0%;
				background-color:$color-turq;
			}
		}
	}
	&-range {
		-webkit-appearance:none;
		width:100%;
		height:2px;
		background:rgba(225,225,225,.5);
		&-wrapper {
			height:2.5em;
		}
		&::-webkit-slider-thumb {
			background-color:$color-black;
			border:2px solid $color-turq;
			width:$icon-width;
			height:$icon-width;
			-webkit-appearance:none;
			border-radius:100%;

		}

	}
	&-range-color {
		-webkit-appearance:none;
		width:100%;
		height:$button-height-sm;
		// background:transparent;
		background:url('/images/bg-slider-grey.png');
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
		margin: auto;
		position:absolute;
		top:0;
		
		& + .input-bg {
			width:100%;
			height:$button-height-sm;
			position:absolute;
			top:0;
			left:0;
			display:block;
			background:url('/images/bg-slider.png');
			background-position:left;
			background-size:100% 100%;
			background-repeat:no-repeat;
			clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
		}

		&::-webkit-slider-thumb {
			-webkit-appearance:none;
			width:6px;
			height:30px;
			border-radius: 100%;
			background: $color-turq;
			position:relative;
			border: darken($color-turq, 50%);
			z-index:3;
			border-radius: 3px;

		}
		&-wrapper {
			position:relative;
			height:5em;
		}

	}
}
