{{!-- typography --}}


<h1 class='head h1 h1-logo text-turq'>
	PAN
</h1>
<h2 class='head h2 text-blue'>Percentage%%</h2>
<h3 class="head h3 text-black">Zoek username</h2>
<h4 class='head h4 text-turq'>Hallo username</h3>

<p class='text text-tooltip'>
	Dit is een tooltip
</p>
<p class='text text-intro text-center'>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibus, aliquam eligendi, quisquam rem distinctio ratione nesciunt obcaecati architecto ducimus alias dolorem dicta soluta! Animi dicta quasi ea quam. Minus?
</p>
<p class='text text-small'>
	
</p>

{{!-- buttons --}}
<input type="submit" value='login' class='btn btn-submit btn-turq btn-lg'>
<button class='btn btn-lg btn-turq'>Roep!</button>
<button class='btn btn-step btn-rect btn-round btn-md'>Step</button>
<button class='btn btn-lg btn-b-black'>Wederhoor!</button>
<button class='btn btn-rect btn-md btn-b-yellow btn-rounded'>OSC1</button>


{{!-- links --}}

<a class="link link-turq link-underline text-center">Ik wil alleen maar luisteren</a>


{{!-- input --}}
<input type="text" class='input input-text input-lg' placeholder='gebruikersnam'>
<input type="range" class='input input-range input-range-yellow' value="5" min="0" max="10">

<input type="range" class='input input-range input-range-purple' value="5" min="0" max="10">
<input type="range" class='input input-range input-orange input-vert'>


{{!-- list --}}
grid: sequencer
<ul class='list list-grid list-grid-4'>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<ul class="list list-grid list-grid-2">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<ul class='list list-scroll-h'>
	<li></li>
	<li></li>
	<li></li>
</ul>



{{!-- containers --}}
{{!-- 
swipe left right
backgorund color
padding
center
scroll
  --}}


{{!-- extra --}}
{{!-- step meter --}}