{{!-- insert confetti here --}}
<div class="container container-center fn-animated-bg container-fullsize container-default text-center">
	<h1 class='logo-text'>Pan</h1>
	<p>Welkom bij de demo van Pan. Sluit je aan bij de groep door je hier onder voor te stellen en ontdek de wereld van de modulaire muziek.</p>
	<form action="/" method="post" class='form form-margin'>
		<input type="text" name="username" placeholder="Username" class='input input-fullwidth input-text text-center'>
		<input type="submit" class='btn btn-fullwidth btn-cta' value="Begin">
	</form>
</div>

{{!-- <h1>home {{user}}</h1>
<a href="/play">play</a>
<a href="/play/tracker">tracker</a>
<a href="/play/tangible">tangible</a>
<a href="/create">create</a>
<a href="/tutorial">tutorial</a> --}}