{{#if loggedIn}}
				<div class="intro-role">
					<p data-intro='modulator' class='text hide'>
						Als modulator vervorm je het geluid van je sequencer. Roep je sequencer om samen verder te gaan. 
					</p>
					<p data-intro='sequencer' class='text hide'>
						Je bent de sequencer
					</p>
				</div>
{{else}}
	<h1 class='head h1 h1-logo text-white'>
		{{title}}
	</h1>
	<div class="animate-collapse">
		<p class='text text-intro text-white animate-stagger animate-stagger-1'>
			Welkom bij de demo van Pan. Sluit je aan bij de groep door je hier onder voor te stellen en ontdek de wereld van de modulaire muziek.
		</p>

		<form action="/login" class='form form-login animate-stagger  animate-stagger-2' method="post">
			<input type="text" class='input input-text input-lg fn-username ' placeholder='Mijn naam is ...'>
			<input type="submit" value='' class='btn btn-ic btn-submit btn-blue btn-lg '>
		</form>

		<a class="link text-white link-underline text-center text-small fixed-bottom">Ik wil alleen maar luisteren</a>
	</div>
{{/if}}