
<div class="pagetransition  splashtransition splashtransition-active container-fixed fn-changepage-page fn-splash" current-page='login' active='true' order="0" origin='null'>
		{{> pages/login}}

</div>


<div class="pagetransition container-fixed container-scroll container-padding-lg fn-changepage-page" current-page='group-list' active='false'  order="1" origin='right'>
	
		{{> pages/grouplist}}
	
</div>



<div class="container-bottom pagetransition container-padding-lg fn-changepage-page" current-page='group-list' active='false' order="1" origin='right'>
	
		<a href="/create" class='btn btn-lg btn-blue text-white text-center fn-random'>Nieuw Duo</a>
		
	
</div>

<div class="fn-confetti position-behind"></div>
