<div class='container container-fixed container-padding-lg'>
	<header class='left'>
		{{> logo 'PAN'}}
	</header>

	<ul class='list list-clear fn-livelist-users right list-live-users'>
		<h3 class='head h4 text-yellow text-condensed'>Actieve gebruikers :</h3>
		
	</ul>
</div>



<div class='block-audiovis fn-audiovis'>
	<div id="wrap">
 
  <div id="viz">
    
  </div>
  </div>
  <div id="source">
    <video width="280" height="120" id="src-vid" crossorigin="anonymous" loop  controls>
      <source src="https://dl.dropbox.com/s/k9gzvn1bdfz0ui7/Holy%20Other%20-%20%20Inpouring.mp4?dl=0" type="video/mp4">
      You need an MP4-supporting browser.
    </video>
  </div>
</div>

<div class="block-join">
	<h3 class='text-white'>Meewerken met Pan?</h3>
	<a href="/" class='text-white'>https://pan.rschuurmans.com</a>
</div>

<script>
	var data = {{{json this}}}
	console.log(data);
</script>