<h1>simple login</h1>
<p>login</p>
<form action="/create/login" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="submit">
</form>
<p>login via soundcloud</p>
<p>login als gast</p>