html, body {
  margin: 0 0;
  padding: 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background-color: #101010;
  color: #0FBBA5;
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

* {
  box-sizing: border-box; }

.text-center {
  text-align: center;
  display: block; }

.hide {
  display: none; }

.fixed-bottom {
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2em;
  display: block; }

.container-padding-lg {
  padding: 38px; }

.container-fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.head {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  margin: 0 0; }

.h1 {
  font-size: 64px; }
  .h1-logo {
    text-transform: uppercase;
    position: relative; }
    .h1-logo:after {
      height: 8px;
      content: ' ';
      position: absolute;
      bottom: -8px;
      left: .05em;
      width: .5em;
      border-top: 5px solid #3038F2;
      border-bottom: 5px solid #3038F2; }

.h2 {
  font-size: 48px; }

.h3 {
  font-size: 36px; }

.h4 {
  font-size: 18px; }

.text {
  color: #0FBBA5; }
  .text-turq {
    color: #0FBBA5; }
  .text-black {
    color: #101010; }
  .text-blue {
    color: #3038F2; }
  .text-white {
    color: white; }
  .text-small {
    font-size: 15px; }

.form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-login .input-text {
    width: 80%; }
  .form-login .btn-submit {
    height: 100%;
    flex-size: stretch;
    width: 20%; }

.margin-t-sm {
  margin-top: 7px; }

.margin-t-md {
  margin-top: 15px; }

.btn {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: none;
  font-size: 18px; }
  .btn-submit {
    background-image: url(./images/ic_enter.svg); }
  .btn-turq {
    background-color: #0FBBA5; }
  .btn-ic {
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
    background-position: center center; }
  .btn-lg {
    padding: 14px;
    display: block;
    width: 100%;
    border: none; }
  .btn-round {
    border: 10px solid #3038F2;
    border-radius: 100%; }
  .btn-rect {
    width: 20vw;
    height: 20vw; }
  .btn-b-black {
    border: 5px solid #101010; }
  .btn-b-yellow {
    border: 5px solid #FFFF00;
    color: #FFFF00; }
  .btn-yellow {
    background-color: #FFFF00; }
  .btn-blue {
    background-color: #3038F2; }
  .btn-rounded {
    border-radius: 3px; }

.link {
  text-decoration: none; }
  .link-turq {
    color: #0FBBA5; }
  .link-blue {
    color: #3038F2; }
  .link-underline {
    text-decoration: underline; }

.input-text {
  background: white;
  font-size: 18px;
  width: 100%;
  padding: 14px; }
  .input-text::-webkit-input-placeholder {
    color: #cccccc; }
  .input-text:-ms-input-placeholder {
    color: #cccccc; }
  .input-text::placeholder {
    color: #cccccc; }

.input-range {
  border: 1px solid white;
  -webkit-appearance: none;
  height: 0;
  background: transparent;
  border-radius: 3px; }
  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
    padding: 0 0; }
  .input-range-yellow::-webkit-slider-thumb {
    background: #FFFF00; }
  .input-range-purple::-webkit-slider-thumb {
    background: #56009C; }

.animate-shape {
  position: fixed;
  z-index: -1;
  transition: 30s linear;
  -webkit-animation: .8s shake infinite linear, 2s shape-in infinite linear;
          animation: .8s shake infinite linear, 2s shape-in infinite linear; }

@-webkit-keyframes shape-in {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

@keyframes shape-in {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px); }
  10% {
    -webkit-transform: translate(-1px, -2px);
            transform: translate(-1px, -2px); }
  20% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px); }
  30% {
    -webkit-transform: translate(0px, 2px);
            transform: translate(0px, 2px); }
  40% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  50% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px); }
  60% {
    -webkit-transform: translate(-3px, 1px);
            transform: translate(-3px, 1px); }
  70% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px); }
  80% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px); }
  90% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px); }
  100% {
    -webkit-transform: translate(1px, -2px);
            transform: translate(1px, -2px); } }

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px); }
  10% {
    -webkit-transform: translate(-1px, -2px);
            transform: translate(-1px, -2px); }
  20% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px); }
  30% {
    -webkit-transform: translate(0px, 2px);
            transform: translate(0px, 2px); }
  40% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  50% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px); }
  60% {
    -webkit-transform: translate(-3px, 1px);
            transform: translate(-3px, 1px); }
  70% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px); }
  80% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px); }
  90% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px); }
  100% {
    -webkit-transform: translate(1px, -2px);
            transform: translate(1px, -2px); } }

.animate-wrapper.login .h1-logo {
  transition: .5s ease-in-out;
  font-size: 120px; }

.animate-wrapper.login .animate-stagger {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.animate-wrapper.login .animate-collapse {
  max-height: 0;
  transition: .2s ease-in; }

body[splash='finished'] .place-color, body[splash='finished'] .place-stroke {
  fill: rgba(225, 225, 225, 0.3) !important; }

body[splash='finished'] .animate-wrapper .animate-collapse {
  max-height: 999px; }

body[splash='finished'] .animate-wrapper .h1-logo {
  -webkit-transform: none;
          transform: none;
  font-size: 64px; }

body[splash='finished'] .animate-wrapper .animate-stagger-1 {
  -webkit-animation-name: opacity-stagger;
          animation-name: opacity-stagger;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

body[splash='finished'] .animate-wrapper .animate-stagger-2 {
  -webkit-animation-name: opacity-stagger;
          animation-name: opacity-stagger;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

body[splash='finished'] .animate-wrapper .animate-stagger-3 {
  -webkit-animation-name: opacity-stagger;
          animation-name: opacity-stagger;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

body[splash='finished'] .animate-wrapper .animate-stagger-4 {
  -webkit-animation-name: opacity-stagger;
          animation-name: opacity-stagger;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes opacity-stagger {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px); }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes opacity-stagger {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px); }
  80% {
    opacity: .8;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
