@mixin pp-grid($column-left, $column-right, $row-top, $row-bottom) {
	grid-column-start:$column-left;
	grid-column-end:$column-right;
	grid-row-start:$row-top;
	grid-row-end:$row-bottom;
}

@mixin rectangle($width, $margin) {
	width: calc(#{$width} - #{$margin*2});
	padding-bottom: calc(#{$width} - #{$margin*2});
	margin:$margin;
}


@mixin stagger-in-animation($length, $delay) {
	& > * {
		opacity:0;
	}
	@for $i from 1 through $length {
	  & > *:nth-of-type(#{$i}) {
	  	// animation-iteration-count:1;
		
		
	    animation-name:animate-sequencer-in;
	    animation-delay: $delay + $i/($length*2);
	    animation-duration: 0.3s;
	    animation-timing-function: ease-in-out;
	    animation-fill-mode:forwards;
	    
	  }
	}
}

@mixin button-border($color) {
	border:5px solid $color;
}

@mixin dark-overlay($amount) {
	position:relative;
	&:before {	
		transition:.2s ease-in-out;
		@extend %absolute-100;
		background:rgba(0,0,0,1);
		opacity:#{$amount/10};
		pointer-events: none;

	   }
}
@mixin light-overlay($amount) {
	position:relative;
	&:before {	
		transition:.2s ease-in-out;
		@extend %absolute-100;
		background:rgba(225,225,225,1);
		opacity:#{$amount/10};
		position:absolute;
		pointer-events: none;

	   }
}