.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}

.hide {
	display:none;
}
.transperant {
	opacity:0;
}
.clearfix {
	border:2px solid red;
	display:block;
	width:100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


%fixed-full {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	overflow:hidden;
}
%absolute-100 {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
%fixed-bottom {
	position:fixed;
		width:100%;
		left:0;
		bottom:0;
}

%position-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	overflow:auto;
}

.above {
	z-index:99;
}
.right {
	float:right;
}
.left {
	float:left;
}
.clear {
	clear:both;
}

.col {
	display: inline-block;
    float: left;
    width: 100%;

    &-100 {
        max-width:100%;
    }

    &-80 {
        max-width:80%;
    }
    &-50 {
        max-width:50%;
    }
    &-20 {
        max-width:20%;
    }

}
%grid-container {
	display:grid;
	grid-column-gap:$gutter;
	grid-row-gap:$gutter;
}
%text-center-absolute {
	font-size:$font-size-base;
	position:absolute;
	top:calc(50% - #{$font-size-base});
	left:0;
	width:100%;
	text-align:center;
}

.position-behind {
	z-index:-1;
	position:fixed;
}