


.viz-seg {
  position: absolute;
  top: 50%;
  margin-top:-12%;
  
  height: 30%;
  background-color:$color-turq;
  opacity:.3;
  // border-radius: 50%;
  will-change: transform;
  

  // border:1px solid white;
}



.block {
	margin:$gutter 0;
	// &:first-of-type {
	// 	margin-top:$gutter-lg;
	// }
	// &:last-of-type {
	// 	margin-bottom:$gutter-lg;
	// }
	&-audiovis {
		
		width:100%;
		
		height:100%;
		
	}
	&-filter-swipe {
		
		height:20em;
		position:relative;
		.filter-swipe-item {
			display:inline-block;
			@extend %absolute-100;
			

		}
		
	}
	&-sequence-top {
		position:relative;
		height:3em;
		max-height:999px;
		margin-top:-3em;
		transition:.2s ease-in-out;
	}
	&-notification-group {
		background-color:rgba(15,187,165,.5);
		color:white;
		border-radius:3px;
		margin:.5rem;
		padding:.5rem;
		opacity:0;
		pointer-events:none;
		transition:.2s ease-in-out;

	}
	&-filter {
		// max-height:100px;
		position:absolute;
		top:0;
		width:100%;
		left:0;
		display:none;
		z-index:999;
		// opacity:0;
		// pointer-events:none;
		transition:.2s ease-in-out;
		&.active {
			display:block;
			opacity:1;
			// pointer-events:auto;
		}
		&-wrapper {
			position:relative;
			height:3em;
			z-index:999;
		}
	}
	&-question {
		position:fixed;
		width:80%;

		left:10%;
		padding:.8rem .5rem;
		background-color:$color-yellow;
		color:$color-black;
		text-align:center;
		box-shadow:0px 0px 10px 200px rgba(0,0,0,.8);
		@extend %position-center;
		opacity:0;
		pointer-events:none;
		transition:.2s ease-in-out;

		&.active {
			opacity:1;
			pointer-events:auto;
		}
	}
	&-adsr {
		.top {
			padding:0 .5rem;
			height:3em;
			margin-bottom:1rem;
		}
		.graph-container {
			height:50vh;
			position:relative;
		}
		
		svg {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			polyline {
				fill:$color-yellow;
				stroke: $color-yellow;
				// stroke-width:5;
			}
		}
	}
	&-pp {
		background: url(/images/bg-grid.png) no-repeat;
		background-size:cover;
		background-color:lighten($color-black, 10);
		width:100%;
		height:100%;
		display:block;
		position:relative;
		top:0px;
		overflow:hidden;
		h2 {
			position:absolute;
			top:10%;
			left:0;
			width:100%;
			text-transform:uppercase;
			text-align:center;
		}
		.shadow {
			background:$color-yellow;
			// background: $color-blue;
			width:0px;
			height:0px;
			
			
			border-radius:100%;
			opacity:.7;
			
			transition:.2s ease-in-out;
			box-shadow: 0px 0px 30px 15px rgba(48,56,242,1);
		}
	}
	&-filter-top {
		background-color:lighten($color-black,3);
		padding:$padding-page-lg $padding-page-lg;
		text-align:center;
	}
	&-modulate-settings {
		padding:$padding-page-md $padding-page-md;
		border-top:1px solid rgba($color-white, .1);
		h3 {
			color:white;
			text-transform:uppercase;
		}
		label {
			display:block;
			margin:.3em 0 1em;
		}
	}
	&-filter-btn {
		
	}
	&-overlay {
		@extend %fixed-full;
		background-color:$color-turq;
		// z-index:2;	
		z-index:-1;
		width:300%;
		height:200%;
		top:-100%;
		left:-100%;
		background-color:$color-turq;
		transform:translateY(-100%) rotate(45deg);
		border-style: solid;
		transition:1s ease-in-out;
		&:before {
			content: ' ';
			

		}
	}
	&-calibrate-buttons {
		
		padding: 0 $padding-page-md;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;

		.btn:nth-of-type(1), .btn:nth-of-type(2) {
			flex:40%;
			
		}
		.btn:nth-of-type(1) {
			margin-right:4px
		}
		.btn:nth-of-type(2) {
			margin-left:4px
		}
		.btn:nth-of-type(3) {
			flex:100%;
			max-height:0;
			padding:0 0;
			overflow:hidden;
			text-decoration:underline;
			transition:.2s ease-in;
		}
		&.finished {
			.btn:nth-of-type(3) {
				padding:14px;
				max-height:999px;
			}
		}
	}
	&-button-flex {
		display:flex;
		& > * {
			margin:$padding-page-md;
		}
		& > *:nth-of-type(even) {
			margin-left:$padding-page-sm;
		}
		& > *:nth-of-type(odd) {
			margin-right:$padding-page-sm;
		}
	}
	&-info {
		
		padding:$gutter;
		color:$color-white;
		// text-align:center;
		height:5em;
		@extend .text-small;
		margin-bottom:$gutter*2;
		margin-top:0;
		
		&-wrapper {
			overflow:hidden;
			transition:.5s ease-in-out;
			opacity: 1;
			position:relative;
			&:before {
				@extend %absolute-100;
				z-index:2;
				// box-shadow:  inset 0px 0px 15px 2px $color-black;
				
			}

		}
	}
	&-notification {
		position:relative;
	}
	&-confetti {
		position:fixed;
		transition:30s linear;
		animation: .8s shake infinite linear, 2s shape-in infinite linear;
		.place-color, .place-stroke {
			transition:.2s ease-in-out;
		}
	}
	&-tutorial {
		z-index:99;
		.image {
			// height:13em;
			height:60vh;
			width:100%;
			background-size:cover;
			background-position: center center;
			background-repeat:no-repeat;
		}
	}
	// &-pp {
	// 	background:$color-blue;
	// 	margin: 0 0;
	// 	transition:.05s ease-in-out;

	// 	&.active {
	// 		transform:translateY(20px);
	// 		z-index:2;
	// 		background-color:$color-yellow;
	// 		margin:20px 0 -20px 5px;

	// 		&:before {
	// 			opacity:0 !important;
	// 		}
	// 	}
	// 	&[pp-index="0"] {
	// 		@include pp-grid(1,3,1,3);
	// 		@include light-overlay(4);
	// 	}
	// 	&[pp-index="1"] {
	// 		@include pp-grid(3,5,1,5);
	// 		@include light-overlay(3);
	// 	}
	// 	&[pp-index="2"] {
	// 		@include pp-grid(1,2,3,6);
	// 		@include light-overlay(2);
	// 	}
	// 	&[pp-index="3"] {
	// 		@include pp-grid(2,3,3,6);
	// 		@include light-overlay(0);
	// 	}
	// 	&[pp-index="4"] {
	// 		@include pp-grid(2,4,6,7);
	// 		@include dark-overlay(2);
	// 	}
	// 	&[pp-index="5"] {
	// 		@include pp-grid(1,2,6,8);
	// 		@include dark-overlay(3);
	// 	}
	// 	&[pp-index="6"] {
	// 		@include pp-grid(3,5,5,6);
	// 		@include dark-overlay(4);
	// 	}
	// 	&[pp-index="7"] {
	// 		@include pp-grid(4,5,6,8)
	// 		@include dark-overlay(5);
	// 	}
	// }
	&-osc {
		padding-top:$padding-page-md;
		h5 {
			margin-bottom:$padding-page-sm;
		}
	}
}
