body {
	transition:.2s ease-in;
	&[rotate-active="true"] {
		border:2px solid blue;
		.grid-item {
			&, * {
				opacity:.5 !important;
			}
		}
		.rotate-active {
			&, * {
				opacity:1 !important;
			}
			z-index: 2;

		}
		
	}
	&[recording='true'] {
		background:$color-white;
		li[target-page='adsr'], li[target-page='pp'] {
			// @extend .unclickable
			opacity:0;
		}
		.text-white {
			color:$color-black !important;
		}
		.btn-grid-item {
			background-color:$color-black;
			&:not(.active) {
				opacity:1;
			}
		}
		.ic-value {
			opacity:0;
		}
	}
}