
	<div class="container-center">
		<h2 class='text-black'>{{head}}</h2>
		<p>{{text}}</p>
		<p class='fn-usermedia-text text-small hide' >Helaas ondersteund jou telefoon de camera functionaliteiten niet. Je kunt wel spelen, maar de interactie is iets anders</p>

	</div>
	{{#ifCond action '==' 'start'}}
		<div class="container-bottom container-padding-lg"><div class='btn fn-start-sequence btn-b-black btn-lg'>start</div></div>
		{{/ifCond}}
	{{#ifCond action '==' 'Modulator'}}
		<div class="container-bottom container-padding-lg"><div class='btn fn-start-modulator btn-b-black btn-lg'>start</div></div>
		{{/ifCond}}


	