<div class='container-padding-lg  container-fixed '>
			<h2>CALIBRATE</h2>
			<p>
			Calibreer je device door het hoogste en het laagste punt aan te geven. Druk op de knop, en hang je pan-panner boven de camera.
			</p>
			<button id='test-btn'>test</button>
			 <div class='video-container'>
		      <video class='fn-video-calibrate' id='video' width='100%' height='auto' autoplay></video>
		      <canvas class='fn-canvas-calibrate' id='canvas' width='100%' height='auto'></canvas>
		    </div>



			<div class='container-bottom  above block-calibrate-buttons fn-calibrate-buttons'>
				<div class='btn btn-b-black text-black btn-lg text-center fn-calibrate-top btn-margin  left'>top</div>
				<div class='btn btn-b-black text-black btn-lg text-center fn-calibrate-bottom btn-margin '>bottom</div>
				<div class='btn btn-black text-white text-center btn-lg calibrate-done btn-margin'>Klaar!</div>
				
			</div>
	
			
			

		</div>