<h2 class='text text-white fn-motion-display'></h2>

		<ul class='list list-clear list-grid '>

		{{#each group.modulate}}
			<li class='list-grid-item list-grid-item-50 btn btn-round btn-filter btn-rectangle fn-modulate-btn' modulate-type='{{type}}' filter-index={{@key}} modulate-value={{value}}>
				
				<span class='text-black btn-label-abs'>{{type}}</span>
			</li>

			{{/each}}
		</ul>
	<div class="fn-background-motion block-bg-motion"></div>