	<form action="" class='form form-login container-center container-padding-lg fn-animate-wrapper fn-form' method="post">
			<div class="media media_logo">
				<h1 class='head h1 h1-logo text-white'>
			
				{{title}}

				</h1>
				<span class='ic-logo-stripes'></span>
			</div>
			<p class='text text-intro text-white'>Welkom bij de demo van Pan. Sluit je aan bij de groep door je hier onder voor te stellen en ontdek de wereld van de modulaire muziek.</p>
			<div class="col-100">
				<input type="text" class='input input-text input-lg col col-80 fn-username ' placeholder='Mijn naam is ...' required>
				<input type="submit" value='' class='input btn btn-ic btn-submit col col-20 btn-blue btn-lg fn-changepage-btn' target-page='group-list'>
			</div>
			
						
			</form>
	
		<a class="link text-white link-underline text-center text-small container-bottom container-padding-lg transperant hide">Ik wil alleen maar luisteren</a>