{{!-- <ul class='list-grid list-grid-pp list-clear container-fixed fn-start-animation animate-stagger animate-stagger-in-slow stagger-kids-8'>
		{{#each pp}}
			
			<li class='block-pp text-white fn-pp-button' pp-index={{@index}} pp-value={{this}}>
				
			</li>
		{{/each}}


	</ul>
 --}}

 <div class="container container-fixed">
 	<div class="block-pp fn-pp">
 			<h2 class='text text-white fn-lux-display'>value</h2>
 	<div class='container-center-content'>
 		<div class='btn btn-yellow btn-lg btn-round btn-rect-lg text-black btn-center btn-shadow btn-control fn-control-hand'>
 			control
 		</div>
 	</div>

 	</div>
 </div>