{{!-- 
<h2 class='fn-rec-score text-center text-uppercase'>score</h2>
<ul class='list list-clear container-padding-top'> 

	{{#each scale}} 

		<li class='list-grid-item list-grid-item-25 btn-rectangle'>
			<span class='btn btn-grid-item btn-recording fn-rec-item'
				rec-index={{@index}}
				frequency={{this}}

			>
				
			</span>
		</li>
	{{/each}}
</ul>
 --}}

<div class="container-center text-center text-black">
	<h2 class='fn-rec-score text-center text-uppercase container-fixed-top container-padding-lg'>1/16</h2>
	<h2 class='fn-rec-value text-center text-uppercase'>score</h2>
	<p>Draai je telefoon voor je om de toonhoogte te veranderen. Tik op het scherm om een toon aan de sequencer toe te voegen</p>
</div>
{{!-- 

<ul class='list list-clear container-padding-top'> 

	{{#each scale}} 

		<li class='list-grid-item list-grid-item-25 btn-rectangle'>
			<span class='btn btn-grid-item btn-recording fn-rec-item'
				rec-index={{@index}}
				frequency={{this}}

			>
				
			</span>
		</li>
	{{/each}}
</ul>
 --}}