<h1>dit is de test</h1>
<ul>
	<li class='fn-module' data-module='OSC' module-index='0'>
		<h2>Oscillator / VCO</h2>
		
		<select name="waveform" class="fn-parameter" data-target='waveform' data-module="OSC" module-index='0'>
			<option value="sine" selected>sine</option>
			<option value="square">square</option>
			<option value="sawtooth">sawtooth</option>
			<option value="triangle">triangle</option>
		</select>
		
		<p>frequency should become octave + putch, according to doepfer</p>
		<p>kijk anders of de steps ^2 kunnen zijn ivm hertz en toonhoofte</p>
		<input type="range" min='15' max='8000' step='120' value='10' id='frequency' class='fn-parameter' data-target='frequency' data-module="OSC" module-index='0'>
		<label for="frequency">Frequency</label>
		
		<p>pulse width. Niet zeker of dit mogelijk is, en moet alleen maar kunnen met een rectangle waveform.</p>
		<input type="range" min='0' max='22000' step='120' value='10' id='pulseWidth' class='fn-parameter' data-target='pulseWidth' data-module="OSC" module-index='0'>
		<label for="pulsewidth">Pulse width</label>
		

		<p>afhankelijk van de output mogelijkheden moet dit zon switch worden als op de mother-32</p>
		<select name="output" class="fn-parameter" data-target='output' data-module="OSC" module-index='0'>
			<option value="VCA1" selected >VCA</option>
			<option value="endpoint" >endpoint</option>
		</select>

	</li>
	

	<li class='fn-module' data-module='VCA' module-index='0'>
		<h2>VCA</h2>
		<p>gebruikt als output van envelope generator, volume control. LFO kan er ook op aangesloten worden, of een oscillator of whatever. Alleen volume control en output.</p>
		<select name="input" class="fn-parameter" data-target='input' data-module="VCA" module-index='0'>
			<option value="OSC1" selected>OSC1</option>
		</select>
		
		<input type="range" min='0' max='10' step='1' value='10' id='cvControl' class='fn-parameter' data-target='cvControl' data-module="VCA" module-index='0'>
		<label for="cvControl">CV Control</label>
		

		<select name="output" class="fn-parameter" data-target='output' data-module="VCA" module-index='0'>
			<option value="endpoint" >endpoint</option>
		</select>


	</li>
	<li class='fn-module' data-module='VCF' module-index='0'>
		<h2>VCF</h2>
		lowpass of highpass
		
		<p>dit moet zo'n switch worden</p>

		<select name="vcf-mode" class="fn-parameter" data-target='vcf-mode' data-module="VCF" module-index='0'>
			<option value="HiPass" selected>High Pass</option>
			<option value="LowPass">Low Pass</option>
		</select>
		
		<input type="range" min='20' max='22000' step='1' value='10' id='cutoff' class='fn-parameter' data-target='cutoff' data-module="VCF" module-index='0'>
		<label for="cutoff">Cutoff</label>
		<p>niet zeker of deze min/max/steps klopt. Voor nu is het een soort percentage</p>
		<input type="range" min='0' max='100' step='1' value='50' id='resonance' class='fn-parameter' data-target='resonance' data-module="VCF" module-index='0'>
		<label for="resonance">Resonance</label>
		
		<p>In de moog mother 32 is de mod source (input) van de VCF een envelope generator of een lfo </p>
	</li>
</ul>

<script>
	// var data = {{data}};

</script>