{{> alert alert}}

<div class='fn-page-container'>
	

<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='sequencer' active='false' origin='left'>
	<div class="container container-padding-lg container-fixed ">
	{{> tipBox tips.0.text}}

	
		{{> stepSequencer group}}

	</div>
</div>

<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='pp' active='false' origin='right'>

	{{> pressurePads group}}
	
</div>

<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='adsr' active='false' origin='left'>
	
{{>adsr group }}
	
		
</div>

{{> navigation this.navigation}}
</div>


{{> data-client this}}
